body{
	height: 100%;
	margin: 0;
	padding: 0;
	background: no-repeat fixed center;
	/*background-image: url(./background.jpg);*/
}

/* -------------------fixed navbar------------------ */
.fixednav{

	width:100%;
	position: fixed;
	z-index: 99;
	top:0px;
    background-color: #414247;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .3);

}
.nav{
	list-style-type: none;
    padding: 0;
	margin: 0;
	overflow: hidden;
}

.nav-item{
	float: left;
	display: table;
}

.nav-item a{
	display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color:white;
}

.nav-item a:hover{
	background-color: #11294f;
}

.mobile-menu {
	display: none;
/*	position: absolute;
*/	padding: 10px;
	color: white;

}
/*.mobile-nav {
	display: none;
	position: relative;
	list-style-type: none;
	background-color: white;
	text-align: left;
	text-decoration: none;
	padding: 0;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .3);
	border: .5px solid black;
	border-radius: 0 0 1px 1px;
	left:0;

}*/

.mobile-dropdown{
	display: none;
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin-top: 10px;
	background-color: white;
	color: black;
	text-decoration: none;
	border-right: .5px solid black
	border-radius: 0 0 2px 2px; 
	box-shadow: -10px 0 10px -5px rgba(0, 0, 0, .3) inset;
	left: 0;

}

.mobile-nav-item a{
	display: block;
	text-decoration: none;
	color: black;
	padding: 10px;

}
.mobile-nav-item a:visited{
	color: black;
	text-decoration: none;
}
.mobile-nav-item a:hover{
	background-color: #11294f;
	color: white; 
}

.icon{
	vertical-align: bottom;
}

/*--------------------dropdown------------------*/

.dropdown{
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: white;
	position: fixed;
	border: .5px solid rgb(0,0,.3);
	border-radius: 0 0 2px 2px; 
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .3);
}

.dropdown-item a{
	color: black;
}

.dropdown-item a:hover{
	color: white;
}

/* -------------------footer----------------- */

.footer{
	position: relative;
    bottom: 0;
    width: 100%;
    background-color: #414247;
    color: white;
}

/* --------------------sections----------------- */

.section{
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 100vh;
    overflow-x: hidden;  /*Disable horizontal scroll */
    overflow-y: hidden;

}


.section-content{
	position: relative;
	text-align: center;
	top: 10%;
}

.section-content a:visited{
	text-decoration: none;
	color: black;
}

.explore{
	text-decoration: none;
	color: black;
	font-size: 20px;
	padding: 5%


}

.explore p{
	margin: 10px 0 0 0;
}

.explore-icon{
	position: relative;
	margin: 0;
	-webkit-animation-name: bounce; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;  
}

.section{
/*	background: no-repeat fixed center;
*/background-color: #F3F5F6
}

#home .section-content{
	top: 45%;
}

#home .section-content h1{
	font-size: 60px;
}

#example1 {
	background-color: #14bee0;
}

#example1 .section-content{
	text-align: left;
}

#example2 {
	background-color: #14bee0;
}

#example2 .section-content{
	text-align: left;
}

.well {
	font-family: Helvetica, sans-serif;
	background-color: rgba(229, 229, 229, .5);
	display: inline-block;
	border-radius:5px;
	padding: 10px 50px;
/*	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .3);
*/	box-shadow: -10px -10px 10px -5px rgba(0, 0, 0, .3) inset;
}

.fancy{
	width: 100%; 
	height: 10px; 
	border-bottom: 80px solid rgba(106, 209, 69, 1); 
	text-align: center
}

.fancy span{
	font-size: 80px; 
	background-color: #F3F5F6; 
	padding: 10px 10px;
	border-radius:5px;
	/*box-shadow: -10px -10px 10px -5px rgba(0, 0, 0, .3) inset;*/

}

#example1 .fancy{
	border-bottom: 80px solid rgba(106, 209, 69, 1); 
	text-align: left;
	margin-top: 50px;
	margin-bottom: 50px;
}
#example2 .fancy{
	border-bottom: 80px solid rgba(106, 209, 69, 1); 
	text-align: left;
	margin-top: 50px;
	margin-bottom: 50px;
}

.description{
	position: relative;
	display: block;
	padding: 50px 50px;
	color: #eaecef;
	font-family: sans-serif;
}
.title{
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100%;
    overflow-x: hidden;  /*Disable horizontal scroll */
    overflow-y: hidden;

}
.example{
	width: 50%; 
	display: inline-block;
	margin: 10px;
	padding: 10px;
	border: 2px solid black;
}

.results{
	display: inline-block;
	margin: 10px;


}
/* -------------------Animation-------------------- */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes bounce {
    0% {transform:translateY(0);}
    10% {transform:translateY(0);}
    20% {transform:translateY(0);}
    30% {transform:translateY(0);}
    40% {transform:translateY(0);}
	50% {
	  	transform:translateY(10%);
	}
	60% {
	  transform:translateY(0);
	}
	70% {
	  transform:translateY(10%);
	}
	80% {
	  transform:translateY(0);
	}
	90% {
	  transform:translateY(10%);
	}
	100% {
	  transform:translateY(0);
	}
}

@keyframes example {
 	0% {transform:translateY(0);}
    10% {transform:translateY(0);}
    20% {transform:translateY(0);}
    30% {transform:translateY(0);}
    40% {transform:translateY(0);}
	50% {
	  	transform:translateY(10%);
	}
	60% {
	  transform:translateY(0);
	}
	70% {
	  transform:translateY(10%);
	}
	80% {
	  transform:translateY(0);
	}
	90% {
	  transform:translateY(10%);
	}
	100% {
	  transform:translateY(0);
	}
}

/* ----------------Media Queries-------------------- */

@media screen and (max-width: 600px) {
    .nav-item a{
    	display: none;
    }

    .mobile-menu{
    	display: block;
    }
    #example1 .fancy{
    	margin-bottom: 60px;
    }
}




